.inline-form-field.mat-mdc-form-field {
    .mat-mdc-text-field-wrapper,
    .mat-mdc-notch-piece {
        border-radius: 0;
    }

    .mat-mdc-notch-piece {
        border: 0;
    }

    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }

    &:not(.mat-mdc-form-field-has-icon-suffix) .mat-mdc-form-field-infix {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .mat-mdc-form-field-infix {
        padding-top: 8px;
        padding-bottom: 8px;
        min-height: auto;
        width: 120px;
    }

    .mat-mdc-input-element::placeholder {
        opacity: 0.3;
        font-size: 14px;
    }

    &.align-right .mat-mdc-input-element {
        text-align: right;
    }

    input {
        font-size: 14px;
    }

    &.text-bold {
        input {
            font-weight: 600;
        }
    }

    &.contrast {
        input,
        .mat-mdc-icon-button {
            color: #fff;
        }
    }

    .mat-mdc-ripple,
    .mdc-line-ripple {
        display: none;
    }
}
